.container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2em;
}

.form {
  display: grid;
  row-gap: 2em;
}

.areaContainer {
  width: 28em;
  padding: 2em;
  border-radius: 1.6em;
  backdrop-filter: blur(14px);
  border: 1px solid #fff;
  color: #fff;
}

.manifestContainer {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.code {
  font-family: 'Open Sans', sans-serif;
}

.inputWithColor {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.colorPicker {
  margin-right: 0.6em;
}

.inputText {
  width: 100%;
  background: transparent;
  border-radius: 0.4em;
  transition: border-color 0.5s;
  color: #fff;
  font-weight: 500;
}

.inputColor {
  width: 180%;
}
