body {
  background-image: url('/wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.p-float-label > label {
  color: #ccc;
}

.p-dropdown .p-dropdown-label.p-placeholder {
  color: #ccc;
}

.p-fileupload-choose {
  background: transparent !important;
}

.p-dropdown-panel {
  background: transparent;
  backdrop-filter: blur(24px);
  border-radius: 10px;
}

.p-inputtext:enabled:focus {
  box-shadow: none;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  color: #fff;
}

.pi-clone,
.pi-check {
  color: #fff;
}
